
.group-stage-team-country {
  background-color: rgb(49, 49, 49) !important;
  color: rgb(167, 167, 167) !important;
  border-color: #1a73e8 !important;
}

.container {
  background-color: rgb(49, 49, 49) !important;
  color: rgb(167, 167, 167) !important;
}

.large-text {
  color: #1a73e8 !important;
}

.Knockout__teams-vs,
.group-stage-team-position {
  background-color: rgb(49, 49, 49) !important;
  color: #1a73e8 !important;
  border-color: #1a73e8 !important;
}

.group-stage-team,
.group-stage-team-name-container {
  background-color: rgb(49, 49, 49) !important;
  color: rgb(167, 167, 167) !important;
}

.group-stage-team-name,
.Knockout__title {
  color: rgb(167, 167, 167) !important;
}

.Knockout__teams {
  background-color: #5f6368 !important;
  color: rgb(207, 207, 207) !important;
}

.winning-team-name,
.winner-text-banner {
  color: #fff !important;
}

.BottomReset__text {
  color: #000;
  background-color: rgb(255, 255, 255) !important;
}

.onward, .site-footer {
    display: none !important;
    overflow: hidden !important;
  }